<!doctype html>

<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  {{ content_for_header }}
  <!-- Header hook for plugins -->
  {{ 'application.scss.css' | asset_url | stylesheet_tag }}
  {{ 'lang-switcher.css' | asset_url | stylesheet_tag }}
  {{ 'application.js' | asset_url | script_tag }}
</head>

<body>

  <!-- {% for link in linklists.main-menu.links %}
    {% assign child_list_handle = link.title | handleize %}
    {% if linklists[child_list_handle].links != blank %}
      <a href="{{ link.url }}">{{ link.title }}</a>
      [{% for childlink in linklists[child_list_handle].links %}
        <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
      {% endfor %}]
    {% else %}
      <a href="{{ link.url }}">{{ link.title }}</a>
    {% endif %}
  {% endfor %}

  <a href="/cart">cart</a>

  {% if shop.customer_accounts_enabled %}
    {% if customer %}
      <a href="/account">account</a>
      {{ 'log out'  | customer_logout_link }}
    {% else %}
      {{ 'log in ' | customer_login_link }}
      {{ 'register' | customer_register_link }}
    {% endif %}
  {% endif %} -->

  <main role="main">
    {{ content_for_layout }}
  </main>

  <select id="lang">
    <option value="en">English</option>
    <option value="fr">French</option>
  </select>

  <script>

    function start() {
      var select = document.getElementById('lang');
      select.addEventListener("change", addActivityItem);
    }

    function addActivityItem() {
      var eng = document.querySelector(".eng");
      var en = document.querySelector(".en");
      var frch = document.querySelector(".frch");
      var fr = document.querySelector(".fr");
      if (this.value == "en") {
        for (let i = 0; i < nodeList.length; i++) {
          en[i].classList.remove("dlt");
        }
        for (let i = 0; i < nodeList.length; i++) {
          eng[i].classList.remove("dlt");
        }
        for (let i = 0; i < nodeList.length; i++) {
          fr[i].classList.add("dlt");
        }
        for (let i = 0; i < nodeList.length; i++) {
          frch[i].classList.add("dlt");
        }
        // en.classList.remove("dlt");
        // eng.classList.remove("dlt");
        // fr.classList.add("dlt");
        // frch.classList.add("dlt");
      } else {
        fr.classList.remove("dlt");
        frch.classList.remove("dlt");
        en.classList.add("dlt");
        eng.classList.add("dlt");
      }
    }

    window.addEventListener("load", start, false);


  </script>

  {% section 'language-switcher' %}
</body>

</html>