<div class="block">
  
    <div class="left_block">

      <img src="{{ section.settings.img | image_url: width: section.settings.imagesize | loading: 'lazy' }}" alt="" />
      
    </div>
    <div class="right_block">
      {% comment %} <h2 id="block-title" style="font-size: {{- section.settings.title_font_size -}}px;"> {% endcomment %}
      <h2 id="block-title" style="font-size: {{- section.settings.title_font_size -}}px;">{{ section.settings.blocktitle }}</h2>

      <p id="block-text" style="font-size: {{- section.settings.font_size -}}px;">
        {{ section.settings.blocktext }}
      </p>
      {% if section.settings.link != blank and section.settings.linktext != blank %}

      <a href="{{ section.settings.link }}">{{ section.settings.linktext }}</a>

      {% else %}

      {% endif %}

    </div>
  
</div>


<style>

{%- if section.settings.pos -%}
.left_block{
  order: 2;
}

.right_block{
  order: 1;
}
{%- else -%}
.left_block{
  order: 1;
}

.right_block{
  order: 2;
}
{%- endif -%}

</style>

{% schema %}
{
"name": "Liquid Basics Example",
"settings": [
{
"type": "image_picker",
"id": "img",
"label": "Title"
},
{
  "type": "select",
  "id" : "imagesize",
  "label" : "Image size",
  "options": [
    {
    "value": "70%",
    "label": "Large size"
    },
    {
    "value": "400px",
    "label": "Medium size"
    },
    {
    "value": "300px",
    "label": "Small size"
    }
  ],
  "default": "400px"
},
{
  "type":"checkbox",
  "id": "pos",
  "label": "Text first",
  "default": false
},
{
"type": "text",
"id": "blocktitle",
"label": "Title"
},
{
"type": "range",
"id": "title_font_size",
"min": 14,
"max": 50,
"step": 1,
"unit": "px",
"label": "Title font size",
"default": 30
},
{
"type": "textarea",
"id": "blocktext",
"label": "text"
},
{
"type": "range",
"id": "font_size",
"min": 14,
"max": 26,
"step": 1,
"unit": "px",
"label": "Font size",
"default": 16
},
{
"id": "link",
"type": "url",
"label": "Button link"
},
{
"id": "linktext",
"type": "text",
"label": "Button text",
"default": "Click Here"
}
],
"presets": [
{
"name": "Information Text",
"category": "Image"
}
]
}

{% endschema %}