<div class="block">
  
    <div class="left_block">

      <img src="{{ section.settings.img | loading: 'lazy' }}" alt="" />
      
    </div>
    <div class="right_block">
      {% comment %} <h2 id="block-title" style="font-size: {{- section.settings.title_font_size -}}px;"> {% endcomment %}
      <h2 id="block-title" style="font-size: {{- section.settings.title_font_size -}}px;">{{ section.settings.blocktitle }}</h2>

      <p id="block-text" style="font-size: {{- section.settings.font_size -}}px;">
        {{ section.settings.blocktext }}
      </p>
      {% if section.settings.link != blank and section.settings.linktext != blank %}

      <a href="{{ section.settings.link }}">{{ section.settings.linktext }}</a>

      {% else %}

      {% endif %}

    </div>
  
</div>


{% if section.settings.imagesize == 80 %}
<style>
  .left_block img {
      width: 80%;

    }
</style>
{% endif %}

<style>
  


{% if section.settings.pos %}
.left_block{
  order: 2;
}

.right_block{
  order: 1;
}
{%- else -%}
.left_block{
  order: 1;
}

.right_block{
  order: 2;
}
{% endif %}

</style>

{% schema %}
{

}

{% endschema %}