<div class="block">
  <div class="left_block">
    <img src="{{ section.settings.img | img_url: '570x' }}" alt="" />  
  </div>
  <div class="right_block">
    <h2 id="block-title">{{ section.settings.blocktitle }}</h2>
    <p id="block-text">
      {{ section.settings.blocktext }}
    </p>
    {% if section.settings.link != blank and section.settings.linktext != blank %}

    <a href="{{ section.settings.link }}">{{ section.settings.linktext }}</a>

    {% else %}

    {% endif %}

  </div>
</div>


{% schema %}
{
"name": "Liquid Basics Example",
"settings":
[
{
"type": "image_picker",
"id": "img",
"label": "Title"
},
{
"type": "range",
"id": "imgrange",
"label": "",
"min": 230,
"max": 570,
"step": 20,
"unit": "px",
"label": "Size of the image",
"default": 570
},
{
"type": "text",
"id": "blocktitle",
"label": "Title"
},
{
"type": "textarea",
"id": "blocktext",
"label": "text"
},
{
"id": "link",
"type": "url",
"label": "Button link"
},
{
"id": "linktext",
"type": "text",
"label": "Button text",
"default": "Click Here"
}
],
"presets":
[
{
"name": "Information Text",
"category": "Image"
}
]
}
{% endschema %}